PORT=4000
MONGODB_URI=mongodb://localhost:27017/nodegoat
COOKIE_SECRET=session_cookie_secret_key_here
CRYPTO_KEY=a_secure_key_for_crypto_here
CRYPTO_ALGO=aes256
HOST_NAME=localhost
NODE_ENV=development
